<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								驾驶员身份证：<input type="text" name="DRIVER_SFZH"/>
							</li>

							<li>
								驾驶员姓名：<input type="text" name="DRIVER_XM"/>
							</li>

							<li>
								民族：<input type="text" name="DRIVER_MZ"/>
							</li>


							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="kashen:driver_register:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="kashen:driver_register:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="kashen:driver_register:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="kashen:driver_register:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('kashen:driver_register:edit')}]];
        var removeFlag = [[${@permission.hasPermi('kashen:driver_register:remove')}]];
        var prefix = ctx + "kashen/driver_register";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "驾驶员信息登记",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'guid',
					title : '驾驶员guid',
					visible: false
				},
				{
					field : 'driver_SFZH',
					title : '驾驶员身份证',
					sortable: false
				},
				{
					field : 'driver_XM',
					title : '驾驶员姓名',
					sortable: false
				},
				{
					field : 'driver_XB',
					title : '性别',
					sortable: false
				},
				{
					field : 'driver_JG',
					title : '籍贯',
					sortable: false
				},
				{
					field : 'driver_ZZ',
					title : '住址',
					sortable: false
				},
				{
					field : 'driver_MZ',
					title : '民族',
					sortable: false
				},
				{
					field : 'driver_JSZBH',
					title : '驾驶证编号',
					sortable: false
				},
				{
					field : 'app_PWD',
					title : 'app登录密码',
					sortable: false
				},
				/*{
					field : 'add_TIME',
					title : '添加时间',
					sortable: false
				},*/
				{
					field : 'driver_SCZT',
					title : '审查状态',
					sortable: false,
                    align:"center",
                    formatter: function(value, row, index) {
                        if (value=="0"){
                            return "<span class='badge badge-danger'>" + "未审查" + "</span>";
                        }
                        if (value=="1"){
                            return "<span class='badge badge-primary'>" + "已审查" + "</span>";
                        }
                    }
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.guid + '\')"><i class="fa fa-edit"></i>查看</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.guid + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>