<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.kashen.mapper.CHECK_RECORDMapper">
    
    <resultMap type="CHECK_RECORD" id="check_recordResult">
        <result property="GUID"    column="GUID"    />
        <result property="CAR_ID"    column="CAR_ID"    />
        <result property="DRIVER_ID"    column="DRIVER_ID"    />
        <result property="DKSJ"    column="DKSJ"    />
        <result property="ZBX"    column="ZBX"    />
        <result property="ZBY"    column="ZBY"    />
        <result property="XCZ"    column="XCZ"    />
        <result property="CAR_RECORD_ID"    column="CAR_RECORD_ID"    />
        <association property="car_register"    column="CAR_ID" javaType="CAR_REGISTER" resultMap="car_registerResult" />
        <association property="driver_register"    column="DRIVER_ID" javaType="DRIVER_REGISTER" resultMap="driver_registerResult" />
    </resultMap>

    <resultMap id="car_registerResult" type="CAR_REGISTER">
        <id     property="GUID"   column="GUID"     />
        <result property="CAR_CPHM" column="CAR_CPHM"   /><!-- 车牌号码 -->

    </resultMap>
    <resultMap id="driver_registerResult" type="DRIVER_REGISTER">
        <id     property="GUID"   column="GUID"     />
        <result property="DRIVER_XM" column="DRIVER_XM"   /><!-- 驾驶员姓名 -->
        <result property="DRIVER_XCZ" column="DRIVER_XCZ"   /><!-- 驾驶员现场照 -->
    </resultMap>
	
	<sql id="selectCheck_record">
        select c1.GUID,c1.CAR_ID,c1.DRIVER_ID,c1.DKSJ,c1.ZBX,c1.ZBY,c1.XCZ ,c1.CAR_RECORD_ID,c2.CAR_CPHM,d.DRIVER_XM,d.DRIVER_XCZ
        from CHECK_RECORD c1 LEFT JOIN CAR_REGISTER c2 on c1.CAR_ID = c2.GUID
        LEFT JOIN DRIVER_REGISTER d on c1.DRIVER_ID = d.GUID
    </sql>

    <sql id="selectCheck_Unpunch">
        SELECT c.*,d.GUID,d.DRIVER_JSSJ,d.DRIVER_KSSJ FROM
        (SELECT a.* FROM CHECK_RECORD a,(SELECT DRIVER_ID,max(DKSJ) AS DKSJ FROM CHECK_RECORD WHERE DKSJ &lt; sysdate-2 GROUP BY DRIVER_ID) b
        WHERE a.DRIVER_ID=b.DRIVER_ID AND a.DKSJ=b.DKSJ) c,CAR_RECORD d WHERE c.CAR_RECORD_ID=d.GUID AND sysdate &lt; d.DRIVER_JSSJ AND sysdate > d.DRIVER_KSSJ
    </sql>
	
    <select id="selectList" parameterType="CHECK_RECORD" resultMap="check_recordResult">
        <include refid="selectCheck_record"/>
        <where>  
            <if test="GUID != null  and GUID != '' "> and GUID = #{GUID}</if>
            <if test="CAR_ID != null  and CAR_ID != '' "> and CAR_CPHM like concat(concat('%',#{CAR_ID}),'%')</if>
            <if test="DRIVER_ID != null  and DRIVER_ID != '' "> and DRIVER_XM like concat(concat('%',#{DRIVER_ID}),'%')</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and DKSJ &gt;= to_date(#{params.beginTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and DKSJ &lt;= to_date(#{params.endTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="ZBX != null and ZBX != '' " > and ZBX like concat(concat('%',#{ZBX}),'%') </if>
            <if test="ZBY != null and ZBY != '' "> and ZBY like concat(concat('%',#{ZBY}),'%')</if>
            <if test="CAR_RECORD_ID != null and CAR_RECORD_ID != '' "> and CAR_RECORD_ID = #{CAR_RECORD_ID}</if>
            <if test="XCZ != null"> and XCZ = #{XCZ}</if>
         </where>
    </select>
    
    <select id="selectById" parameterType="String" resultMap="check_recordResult">
        <include refid="selectCheck_record"/>
        where c1.GUID = #{GUID}
    </select>


    <select id="selectUnpunch"  resultMap="check_recordResult">
        <include refid="selectCheck_Unpunch"/>

    </select>

    <insert id="insert" parameterType="CHECK_RECORD">
        insert into CHECK_RECORD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="GUID != null  and GUID != ''  ">GUID,</if>
			<if test="CAR_ID != null  and CAR_ID != ''  ">CAR_ID,</if>
			<if test="DRIVER_ID != null  and DRIVER_ID != ''  ">DRIVER_ID,</if>
			<if test="DKSJ != null  ">DKSJ,</if>
			<if test="ZBX != null and ZBX != '' ">ZBX,</if>
            <if test="ZBY != null and ZBY != '' ">ZBY,</if>
            <if test="XCZ != null  ">XCZ,</if>
            <if test="CAR_RECORD_ID != null and CAR_RECORD_ID != '' ">CAR_RECORD_ID,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="GUID != null  and GUID != ''  ">#{GUID},</if>
			<if test="CAR_ID != null  and CAR_ID != ''  ">#{CAR_ID},</if>
			<if test="DRIVER_ID != null  and DRIVER_ID != ''  ">#{DRIVER_ID},</if>
			<if test="DKSJ != null  ">#{DKSJ},</if>
			<if test="ZBX != null and ZBX != '' ">#{ZBX},</if>
            <if test="ZBY != null and ZBY != '' ">#{ZBY},</if>
            <if test="XCZ != null ">#{XCZ},</if>
            <if test="CAR_RECORD_ID != null and CAR_RECORD_ID != ''">#{CAR_RECORD_ID},</if>
         </trim>
    </insert>
	 
    <update id="update" parameterType="CHECK_RECORD">
        update CHECK_RECORD
        <trim prefix="SET" suffixOverrides=",">
            <if test="CAR_ID != null  and CAR_ID != ''  ">CAR_ID = #{CAR_ID},</if>
            <if test="DRIVER_ID != null  and DRIVER_ID != ''  ">DRIVER_ID = #{DRIVER_ID},</if>
            <if test="DKSJ != null  ">DKSJ = #{DKSJ},</if>
            <if test="ZBX != null and ZBX != '' ">ZBX = #{ZBX},</if>
            <if test="ZBY != null and ZBY != '' ">ZBY = #{ZBY},</if>
            <if test="XCZ != null ">XCZ = #{XCZ},</if>
            <if test="CAR_RECORD_ID != null and CAR_RECORD_ID != '' ">CAR_RECORD_ID = #{CAR_RECORD_ID},</if>
        </trim>
        where GUID = #{GUID}
    </update>

	<delete id="deleteById" parameterType="String">
        delete from CHECK_RECORD where GUID = #{GUID}
    </delete>

	
    <delete id="deleteByIds" parameterType="String">
        delete from CHECK_RECORD where GUID in
        <foreach item="GUID" collection="array" open="(" separator="," close=")">
            #{GUID}
        </foreach>
    </delete>


    
</mapper>