<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-record-add">
			<div class="form-group">
				<label class="col-sm-3 control-label">审批记录编号：</label>
				<div class="col-sm-8">
					<input id="DRVIER_GUID" name="DRVIER_GUID" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">车辆编号：</label>
				<div class="col-sm-8">
					<input id="CAR_GUID" name="CAR_GUID" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">报警时间：</label>
				<div class="col-sm-8">
					<input id="ALARM_TIME" name="ALARM_TIME" class="form-control time-input" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">处理状态：</label>
				<div class="col-sm-8">
					<!--<input id="ALARM_ZT" name="ALARM_ZT" class="form-control" type="text">-->
					<select name="ALARM_ZT" class="form-control m-b" lay-verify="required">
						<option value=""></option>
						<option value="0">未处理</option>
						<option value="1">已处理</option>
					</select>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "kashen/alarm_record"
		$("#form-record-add").validate({
			rules:{
                DRVIER_GUID:{
					required:true,
				},
                CAR_GUID:{
                    required:true,
                }
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-record-add').serialize());
	        }
	    }
	</script>
</body>
</html>
